CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# STM32CubeIDE build output

# Lesson specific build and CubeIDE files
2_alt_red_blue/.metadata/
2_alt_red_blue/nucleo/Debug/
2_alt_red_blue/nucleo/.metadata/
2_alt_red_blue/nucleo/.settings/

3_hard_time/.metadata/
3_hard_time/nucleo/Debug/
3_hard_time/nucleo/.metadata/
3_hard_time/nucleo/.settings/
